.header-component {
  background-color: rgb(30, 134, 30);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.logo-container, .user-name-container {
  align-items: center;
  display: flex;
}

p {
  font-weight: 700;
  margin: 0;
  margin-left: 10px;
}
