.album-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.album-card {
  border-bottom: 1px solid black;
  margin: 0 10px 15px;
  text-decoration: none;
  width: 200px;
}

.album-card img {
  width: 200px;
}

.album-card p {
  font-weight: 200;
}

.link {
  color: black;
  text-decoration: none;
}

.album-card .collection-name {
  font-weight: 500;
  text-decoration: none;
}

.album-card:hover {
  background-color: rgb(201, 193, 193);
  padding: 15px;
  transition: 0.1s;
}
