.album-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.album-card {
  border-bottom: 1px solid black;
  margin: 0 10px 15px;
  text-decoration: none;
  width: 200px;
}

.album-card img {
  width: 200px;
}

.album-card p {
  font-weight: 200;
}

.link {
  text-decoration: none;
}

.album-card .collection-name {
  color: black;
  font-weight: 500;
  text-decoration: none;
}

.album-card .collection-name:hover {
  font-size: 1.2rem;
}
